@import "normalize";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "./themes/orange";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: var(--font-m);
  color: var(--secondary-color);
  background-color: var(--bg-color);
}

body[data-bg-inverted="true"] {
  background-color: var(--inverted-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
}

.app__content {
  display: flex;
}

.app__main {
  flex-grow: 1;
}
