@import "normalize";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "./themes/orange";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: var(--font-m);
  color: var(--secondary-color);
  background-color: var(--bg-color);
}

body[data-bg-inverted="true"] {
  background-color: var(--inverted-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: var(--page-padding) var(--page-padding) var(--page-padding) calc(2 * var(--page-padding));
  height: calc(100vh - var(--navbar-height));
  width: 100%;
  overflow-y: auto;
}
