.Page {
  padding: var(--page-padding) var(--page-padding) var(--page-padding) calc(2 * var(--page-padding));
  height: calc(100vh - var(--navbar-height));
  width: 100%;
  overflow-y: auto;
}

.trigger {
  height: 1px;
  width: 100%;
}
