.title {
  color: var(--primary-color);

  &.mediumSize {
    font: var(--font-l);
  }

  &.largeSize {
    font: var(--font-xl);
  }
}

.text {
  color: var(--secondary-color);

  &.mediumSize {
    font: var(--font-m);
  }

  &.largeSize {
    font: var(--font-l);
  }
}

.error {
  color: var(--error-color);
}
