.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--modal-z-index);
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms;
}

.content {
  max-width: 60%;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(60%) translate(-50%, -50%);
  transform-origin: 0 0;
  border-radius: 12px;
  background-color: var(--bg-color);
  transition: transform 300ms;
}

.opened {
  pointer-events: auto;
  opacity: 1;

  .content {
    transform: scale(100%) translate(-50%, -50%);
  }
}
