.sectionTitle {
  margin: 16px 0 12px;
}

.commentForm {
  margin-bottom: 20px;
}

.recommendations {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.backButton {
  margin-bottom: 20px;
}
