.list {
  display: block;
}

.grid {
  width: 230px;
  transition: transform 300ms;

  &.hover {
    transform: scale(1.02);
  }

  .imageWrapper {
    position: relative;
    margin-bottom: 6px;
  }

  .image {
    width: 200px;
    height: 200px;
  }

  .date {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .infoWrapper {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .types {
    max-width: 130px;
    margin-right: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
