.Code {
  position: relative;
  border: 1px solid var(--primary-color);
  padding: 20px;
  background-color: var(--code-bg-color);
}

.copyButton {
  position: absolute;
  top: 12px;
  right: 12px;
}
