.Input {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.placeholder {
  font: var(--font-m);
}

.input {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);

  &[readonly] {
    opacity: 0.75;
    outline: none;
  }
}
