.label {
  flex-shrink: 0;
}

.trigger {
  height: var(--font-line-l);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &.disabled {
    cursor: default;
    opacity: 0.75;
  }
}

.items {
  overflow: hidden;
  padding: 0;
  background-color: var(--listbox-bg);
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--listbox-bg);
  list-style: none;
}

.item {
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 150ms;

  &.selected {
    font-weight: 700;
  }

  &.active {
    background-color: var(--inverted-bg-color);
  }

  &.disabled {
    cursor: default;
    opacity: 0.5;
  }
}
