.Select {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.select {
  padding: 2px 10px 2px 2px;
  background: none;
  outline: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);

  &:disabled {
    opacity: 0.75;
    outline: none;
  }
}

.option {
  color: var(--inverted-primary-color);
  background-color: var(--inverted-bg-color);
}
