body[data-theme="light"] {
  --bg-color: rgb(226 223 235);
  --inverted-bg-color: rgb(28 13 160);
  --primary-color: rgb(28 13 160);
  --secondary-color: rgb(45 26 218 / 89.7%);
  --error-color: rgb(238 10 10);
  --inverted-primary-color: rgb(226 223 235);
  --inverted-secondary-color: rgb(187 184 197);
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
  --code-bg-color: rgb(220 219 236);
  --card-bg: rgb(190 187 201);
}
