body[data-theme='orange'] {
  --bg-color: rgb(250 244 251);
  --inverted-bg-color: rgb(189 80 18);
  --primary-color: rgb(154 26 14);
  --secondary-color: rgb(208 31 14);
  --error-color: rgb(238 10 10);
  --inverted-primary-color: rgb(219 213 220);
  --inverted-secondary-color: rgb(250 244 251);

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg-color: rgb(239 227 225);

  // card
  --card-bg: rgb(217 210 222);

  // list box
  --listbox-bg: rgb(217 210 222);
}
