.Profile {
  padding: 20px;
  border: 2px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.loading {
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
