.Profile {
  padding: 20px;
  border: 2px solid var(--primary-color);
}

.loading {
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarWrapper {
  display: flex;
  margin-left: 75px;
  margin-bottom: 20px;
}

.editing {
  border: 2px dashed var(--secondary-color);
}
