.Card {
  padding: 15px;
  border-radius: 12px;
  border: 1px solid var(--card-bg);
}

.contained {
  background-color: var(--card-bg);
}

.outlined {
  background-color: transparent;
}

.max {
  width: 100%;
}
