.AppLink {
  color: var(--primary-color);
  transition: opacity 300ms;
  text-decoration: none;

  &:hover {
    opacity: 0.75;
  }
}

.primary {
  color: var(--inverted-primary-color);
}

.secondary {
  color: var(--inverted-secondary-color);
}
